<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captain Log's Index</title>
</head>
<body>
    <h1> Captain Log's Index</h1>
    <div>
        <ul>
            <% for(let i=0; i<logs.length;i++){%>
                <li>
                    <a href="/logs/<%=logs[i]._id%>">
                    <%= logs[i].title%>
                </a>
                <p><a href="/logs/<%=logs[i]._id%>/edit">Edit Log</a></p>
                <form method="POST" action="/logs/<%=logs[i]._id%>?_method=DELETE">
                    <input type="submit" value="delete <%= logs[i].title%>">
                </form>
            </li>
            <%}%>
        </ul>
    </div>
    <a href="/logs/new">New Log Entry!</a>
</body>
</html>